// List of Contacts

.buttons__item{
    font-size: 1.2rem;
    border: none;
    margin: 0 .5rem;
}

// Chat

.chat__button{
    border: none;
    font-size: 1rem;
    padding: 2px 6px;
    border-radius: 50px;
    margin: 3px;
}